# Folders
.externalNativeBuild/
.gradle/
.idea/
build/
app/build/
captures/

# Files
*.apk
*.log
*.iml
local.properties
AndroidHelpers.iml

# OS
._*
.DS_Store
.DS_Store?
.Trashes
ehthumbs.db
Thumbs.db
