# folders
AndroidHelpers/build/
AndroidHelpers/app/build/
AndroidHelpers/captures/
AndroidHelpers/.idea/
AndroidHelpers/.gradle/
AndroidHelpers/local.properties
.externalNativeBuild

# files
*.log
*.iml
*.css.map
*.DS_Store