# built
*.apk
*.aar
*.aab

# generated
bin/
gen/
out/
app/build/

# gradle
.gradle/
build/

# log
*.log

# intellij
*.iml
.idea/

# external
.externalNativeBuild/
.cxx/

# captures
captures/

# local
local.properties

# macos
._*
.DS_Store
.DS_Store?
.Trashes
Thumbs.db